#contextmenu{
  position:absolute;
  z-index:99;
  display:none;
  width:200px;
  height:200px;
  background-color:#F5F5F5;
  box-shadow:rgba(0,0,0,.4) 2px 2px 2px;
}

span.annotation1 { color: red; font-weight: bold;}
span.annotation1:after {content: "(1)";font-size: x-small;}

span.annotation2 { color: blue; font-weight: bold;}
span.annotation2:after {content: "(2)";font-size: x-small;}

span.annotation3 { color: green; font-weight: bold;}
span.annotation3:after {content: "(3)";font-size: x-small;}
